.statisticDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    width: auto;

    .number {
        color: black;
        font-weight: 600;
    }

    .numberCategory {
        color: #737373;
        font-weight: 400;
    }
}

@media screen and (min-width: 735px) {
    .statisticDiv{
        flex-direction: row;
        .number{
            margin-right: 5px;
        }
    }
}