.projectHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 4px 14px 14px;
    // height: 80px;

    .circle {
        margin: 0px;
    }

    .projectHeaderText {
        margin-left: 10px;
        height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;

        h2 {
            color: #262626;
            font-size: 14px;
            font-weight: 600;
            font-family: inherit;
        }

        h3 {
            font-size: 12px;
        }
    }
}