.button {
    padding: 7px 16px;
    border-radius: 8px;
    background-color: #EFEFEF;
    font-size: 14px;
    border: unset;
    font-family: inherit;
    line-height: 18px;
    max-height: 32px;
    display: flex;
    align-items: center;
}