.projectDiv {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    margin-top: 26px;

    .link {
        text-decoration: none;
        color: black;

        &:visited {
            color: black;
        }
    }
}

@media screen and (min-width: 735px) {
    .projectDiv {
        justify-content: space-around;
        padding: 0px 24px;
        margin-bottom: 44px;
    }
}