.story {
    background-color: #1a1a1a;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    // position: relative;
    // column-gap: 0px;
    // justify-content: center;
    // overflow: hidden;

    .active {
        width: 100vw;

        .storyPicture {
            width: 100%;
        }

        .storyHeader {
            background: linear-gradient(to top, #0000, #000);
            color: white;
            box-sizing: border-box;
            justify-content: space-between;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            padding: 25px 15px;

            .logoStoryHeader {
                justify-content: center;
                gap: 5px;

                .categoryStoryHeader {
                    color: #cfcfcf;
                }
            }

            .buttonStoryHeader {
                justify-content: center;
                column-gap: 15px;

                .storyPoint {
                    height: 20px;
                    width: 25px;
                    fill: white
                }
            }
        }

    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

}


.rowCenter {
    display: flex;
    flex-direction: row;
    align-items: center;

}


@media screen and (min-width: 735px) {}

//         .storyPicture {
//             width: 100%;
//             height: 100%;
//             object-fit: contain;
//         }

//         .story {
//             .border {
//                 border-radius: 8px;
//             }


//             .active {
//                 width: 70vw;
//                 // height: 100%;
//                 max-height: 850px;
//                 max-width: 460px;
//                 overflow: hidden;
//                 position: relative;




//                 .buttonStoryHeader {
//                     justify-content: center;
//                     column-gap: 15px;

//                     .storyPoint {
//                         height: 20px;
//                         width: 25px;
//                         fill: white
//                     }
//                 }
//             }

//             .storyFooter {
//                 background: linear-gradient(to bottom, #0000, #000);
//                 color: white;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: center;
//                 position: absolute;
//                 bottom: 0px;
//                 left: 0px;
//                 width: 100%;
//                 padding: 15px 0px;
//             }
//         }

//         .right {
//             width: 25vw;
//             margin-right: -15vw;
//             max-height: 350px;
//             max-width: 250px;
//             overflow: hidden;
//         }

//         .left {
//             width: 25vw;
//             margin-left: -15vw;
//             max-height: 350px;
//             max-width: 250px;
//             overflow: hidden;
//         }
//     }
// }