.iconDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 44px;
    border-top: solid 1px rgb(219, 219, 219);

    .iconName {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 735px) {
    .iconDiv {
        justify-content: center;
        column-gap: 60px;
        height: 53px;

        .iconName {
            column-gap: 6px;
            color: #737373;
            font-size: 12px;
            font-weight: 600;
            font-family: inherit;
            height: 100%;
        }
    }
}